/* ---------------- fonts ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* generel styles */
:root {
  scroll-behavior: unset;
  --white: #ffffff;
  --dark: #28282a;
  --boxShadow: 0 0 2rem 0.1rem rgba(0, 0, 0, 0.25);
}

img {
  width: 100%;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  color: inherit;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}

/* body */
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.94;
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background: #f5f6f7;
}
main {
  padding-top: 90px;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
.figure img,
.figure {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Kanit", sans-serif;
}

.gray_color {
  color: #a1a2a5;
}

/* -------------- Scroll bar ------------- */
::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* color of the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #f05c22;
  /* color of the thumb */
  border-radius: 10px;
  /* rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(133, 98, 98, 0.8);
}

/* -------------- preloader --------------- */
#preloader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999999999999999999;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loader3 {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0;
  text-align: left;
}

.loader3 span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f05c22;
  -webkit-animation: loader3 1.5s linear infinite;
  animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}

@-webkit-keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* --------- Owl Setup Styles ---------- */
.owl-stage {
  width: 100%;
  display: flex;
  cursor: grab;
}
.owl-stage-outer {
  width: 100%;
}
.owl-item {
  display: flex;
}

/* -------------- Back to top ------------ */
.back-to-top {
  width: 55px;
  height: 55px;
  line-height: 45px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 20px;
  border-radius: 50%;
  background: #f05c22;
  z-index: 1000;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.back-to-top img {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
    saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(288deg) brightness(102%) contrast(102%);
  width: 30px;
}

.topbtn_hide {
  opacity: 1;
}

/* button */
.button_one {
  height: 45px;
  background: #f05c22;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
  line-height: 35px;
  font-weight: 700;
  transition: 0.3s ease;
}
.button_one:hover {
  background: transparent;
  color: #f05c22;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.button_one img {
  width: 20px;
  margin-left: 10px;
}

.button_one:hover img {
  filter: brightness(0) saturate(100%) invert(67%) sepia(74%) saturate(6281%) hue-rotate(350deg) brightness(98%) contrast(91%);
}
/* common classes */
.title_box {
  padding-bottom: 45px;
}
.title_65 {
  font-size: 65px;
  line-height: 70px;
  color: #ffffff;
  font-weight: 400;
}
.title_50 {
  font-size: 50px;
  line-height: 70px;
  color: #28282a;
  font-weight: 400;
}
.title_32 {
  font-size: 32px;
  line-height: 32px;
  color: #28282a;
  font-weight: 400;
}
.title_22 {
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
}
.title_40 {
  font-size: 40px;
  line-height: 52px;
  color: #28282a;
  font-weight: 400;
}
.text_20 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.text_18 {
  font-size: 18px;
  line-height: 28px;
  padding-top: 15px;
  padding-bottom: 60px;
  font-family: "Open Sans", sans-serif;
}
.text_50 {
  font-size: 50px;
  line-height: 62px;
  font-weight: 400;
}
.font_400 {
  font-weight: 400 !important;
}
/* -------------- Header Style --------------- */
.site_header {
  position: fixed;
  top: 0;
  background: #ffffff;
  transition: 0.5s;
  width: 100%;
  left: 0;
  z-index: 99999;
}
.site_header.menu_up {
  box-shadow: var(--boxShadow);
}

.navbar {
  padding: 0;
}
.nav-link {
  font-size: 15px;
  line-height: 36px;
}
.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  color: #f05c22;
  border-bottom: 2px solid #f05c22;
}
.navbar-collapse ul,
.navbar-collapse li a,
.navbar-collapse li {
  height: 100%;
}
.nav-link {
  padding: 0 !important;
  font-size: 15px;
  line-height: 36px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  font-weight: 500;
}
.navbar-toggler {
  padding: 5px;
  outline: none;
}
.navbar-toggler:focus {
  border: none;
  outline: none;
}
/* ------------------------- Hero Section --------------------------- */
.hero_section {
  padding-top: 160px;
  padding-bottom: 240px;
  background: url(../img/hero_bg.png) no-repeat scroll top left / cover;
  position: relative;
}
.hero_section:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    274deg,
    rgba(0, 0, 0, 0.2637429971988795) 0%,
    rgba(0, 0, 0, 0.7399334733893557) 100%
  );
}
.hero_section .container {
  position: relative;
  z-index: 999;
}

/* -------------------- About Section ---------------- */
.about_content .button_one {
  margin-top: 45px;
  width: fit-content;
}
.about_row {
  background: #fff;
  border-radius: 10px;
}
.about_row .col-lg-6 {
  padding: 0;
}
.about_row .col-lg-6 > img {
  width: 510px;
}
.about_section {
  position: relative;
  top: -60px;
}
/* -------------------- Sponsor Section ---------------- */
.sponsor_cont {
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.sponsor_cont a {
  background: #fff;
  border-radius: 4px;
  border: 2px solid #e6e7e9;
  width: 100%;
}

/* -------------------- counter_area ---------------- */
.counter_area {
  padding: 120px 0;
}
.counter_boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
}
.counter_box {
  background: #76bfd0;
  padding: 50px 20px 42px 42px;
  border-radius: 10px;
}
.counter_box h2 {
  line-height: 25px;
}
.counter_box .counter {
  padding-bottom: 15px;
}

/* --------------------- Core Content -------------------- */
.core_section {
  padding-bottom: 130px;
}
.core_box img {
  width: auto;
}
.title_28 {
  font-size: 28px;
  font-weight: 400;
}
.core_box .title_28 {
  padding-top: 70px;
  padding-bottom: 20px;
}
.core_box ul {
  list-style: disc;
  display: grid;
  gap: 20px;
  padding-left: 20px;
}
.core_box {
  background: #fff;
  padding: 40px 30px 30px 40px;
  border-radius: 10px;
}
.core_cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* --------------------- Customar Section ---------------------- */
.customer_section {
  padding-bottom: 135px;
}
.customer_section .core_box .title_28 {
  padding-top: 50px;
  padding-bottom: 15px;
}

/* ------------------- Tab Slider Section --------------------- */
.tab_slider {
  padding-bottom: 125px;
}
.tab_slide {
  width: 100%;
  justify-content: space-between;
  padding: 75px 80px 80px 70px;
  background: #fff;
  border-radius: 10px;
  gap: 75px;
}
.tab_slide_nav button {
  border: none;
  background: none;
  color: #a1a2a5;
}

.tab_slide_nav button.active,
.tab_slide_nav button:hover {
  color: #28282a;
}

.tab_slide_nav {
  padding-bottom: 10px;
  gap: 20px;
  border: none;
}

.tabSlide_left h3 {
  font-size: 18px;
  line-height: 28px;
  padding-top: 15px;
  padding-bottom: 60px;
  font-family: "Open Sans", sans-serif;
}

/* owl nav */
.owl-nav button {
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: #e6e7e9;
  border: none;
  transition: all 0.3s;
}
.owl-nav button img {
  width: 21px;
  filter: brightness(0) saturate(100%) invert(13%) sepia(6%) saturate(376%)
    hue-rotate(202deg) brightness(92%) contrast(90%);
}
.owl-nav button:hover img,
.tabslider .owl-nav button.active img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(23%) saturate(2%)
    hue-rotate(163deg) brightness(108%) contrast(101%);
}
.owl-nav button:hover,
.tabslider .owl-nav button.active {
  background: #28282a;
}
.owl-next {
  display: flex;
}
.owl-nav {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  top: -70px;
}

.owl-loaded.owl-drag {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

/* ------------------------------- Feature Section -------------------------------- */
.feature_section {
  background: var(--dark);
  margin-bottom: 130px;
}
.featue_right {
  margin-left: auto;
}

.featue_right img {
  width: 100%;
}

.fifty_percent {
  width: 50%;
}

.feature_cont ul li img {
  width: 30px;
}

.feature_cont ul li {
  align-items: center;
  gap: 15px;
}

.feature_cont ul li p {
  padding: 0;
  color: #fff;
}

.feature_cont ul {
  display: grid;
  gap: 15px;
  margin-top: 40px;
}

.feature_cont h2.text_18 {
  color: #fff;
  font-weight: 600;
  padding-top: 0;
  padding-bottom: 40px;
}

.feature_cont {
  padding-left: 120px;
  padding-right: 30px;
}

/* ------------------------------- Unique Section -------------------------------- */
.unique_slider {
  padding-bottom: 120px;
}
.unique_slide .core_box {
  padding: 50px 50px 50px 50px;
}
.unique_slide .core_box .title_28 {
  padding-top: 40px;
  padding-bottom: 15px;
}
.unique_slider .title_box {
  padding-bottom: 10px;
}

/* ---------------------- Footer Section ------------------------------ */
.site_footer {
  padding-bottom: 85px;
}
.footer_contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 50px;
  padding: 60px 0;
  border-bottom: 1px solid #D8D8D8; 
}
.footer_box .logo {
  display: flex;
}
.footer_box .logo img {
  width: 135px;
}
.footer_box li {
  font-size: 14px;
  line-height: 28px;
}
.footer_box h2 {
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
}
.footer_boxes {
  display: grid;
  gap: 40px;
}
.footer_box li:not(.copywrite li):hover {
  color: #f05c22;
}
.copywrite h2 {
  padding-bottom: 5px;
  padding-top: 10px;
}